/* Imports */
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('components/social-links.css');
@import url('components/cards.css');
@import url('components/code-colors.css');

html, body {
  margin: 0;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  background: url(../img/bg.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  height: 100vh;
  margin: 0 auto;
}

section {
  height: 100vh;
  padding: 20px;
}

.me {
  display: flex;
  align-items: center;
  justify-content: center;
}

.me .info {
  width: 320px;
  text-align: center;
}

.me img {
  width: 200px;
  border-radius: 50%;
  border: 3px solid #fff;
}



.link {
  color: #333;
  text-decoration: none;
}

@media (min-width: 700px) {
  .container {
    width: 70%;
  }
  #github-projects h1 {
    padding-left: 10px;
  }
}
