/* Imports */
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('components/social-links.css');
@import url('components/navbar.css');
@import url('components/cards.css');
@import url('components/code-colors.css');
@import url('components/form.css');

html, body {
  margin: 0;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  background: url(../img/paradise.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.backop {
  background-color: rgba(255,255,255,0.6);
  padding: 30px 0 25px 0;
}

#me {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#content {
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  background: #eee;
  padding:30px;
  line-height: 1.6;
}

.avatar {
  border-radius: 50%;
  width: 300px;
}

section {
  max-height: 100%;
}
