.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))
}

.card {
  padding: 20px;
  margin: 10px 10px 10px 0;
  border-radius: 3px;
  text-align: left;
  border: 1px solid $card-border;
  background: $white;
  transition: 0.1s background ease;

  span {
    margin-right: 15px;
  }
}

.card-title {
  font-weight: bold;
}

.card-description {
  font-weight: lighter;
}

.card-stars {
  font-weight: lighter;
}

.card-language {
  font-weight: lighter;
}
