.header {
  margin-bottom: 1.45rem;

  .header-aligment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 0;

    .nav {
      a {
        color: #303030;
        margin-right: 20px;
      }
    }
    .links {
      display: flex;
      justify-content: space-around;
      position: fixed;
      right: 0;
      left: 0;
      bottom: 20px;
      a {
        font-size: 20px;
        &:hover {
          text-decoration: none;
        }
      }

      @media screen and (min-width: 490px) {
        position: initial;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a {
          margin-left: 10px;
        }
      }
    }
  }
}
