.job {
  margin-bottom: 50px;
  .job-company-name {
    margin-bottom: 0;
  }
  .job-date-and-location {
    margin-top: 5px;
    font-size: 15px;
    color: #808080;
  }
  .job-position {
    margin-left: 10px;
    font-style: italic;
  }
}
