.twitter-color:hover {
  color: #03a9f4;
}

.linkedin-color:hover {
  color: #01579b;
}

.stack-overflow-color:hover {
  color: #ff5722;
}

.github-color:hover {
  color: #000;
}

.gitlab-color:hover {
  color: #e14328;
}

.email-color:hover {
  color: #000;
}
