$white: #fff;
$light-grey: #f6f6f6;
$black: #000;
$primary-text-color: $black;
$secondary-text-color: #808080;
$light-green: #98ee99;

// Github cards
$card-border: #d1d5da;

// Dark mode
$switch-color: yellow;
$transition-time: 1s;
