.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.card {
  flex: 1 1 40%;
  background: #fff;
  width: 100%;
  padding: 20px;
  margin: 0 20px 20px 0;
  border-radius: 3px;
  border: 1px solid #ddd;
  text-align: left;
}

.card a {
  font-weight: bold;
  color: #333;
  text-decoration: none;
}
.card a:hover {
  text-decoration: underline;
}

.card .card-description {
  font-weight: lighter;
}

.card .card-stars {
  color: #333;
  font-weight: lighter;
}

.card .card-language {
  font-weight: lighter;
}

.card span {
  margin-right: 15px;
}
