.navbar {
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navbar-element {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
  min-width: 70px;
  padding: 20px;
  height: 100%;
  text-decoration: none;
}

.navbar-element:hover {
  background: #eee;
  color: #000;
}

.navbar-element:active {
  background: #ddd;
  color: #000;
}

.navbar-active {
  background: #eee;
  color: #000;
}
