.social-links {
  display: flex;
  justify-content: space-between;
}

.social-links a {
  margin-right: 10px;
  margin-bottom: 10px;
  border-color: 1px solid #000;
  color: #333;
}

.twitter-color:hover {
  color: #03a9f4;
}

.linkedin-color:hover {
  color: #01579b;
}

.stack-overflow-color:hover {
  color: #ff5722;
}

.github-color:hover {
  color: #000;
}

.email-color:hover {
  color: #546e7a;
}
